<div [routerLink]="['/detail', pokemon.name]" [state]="{ detailData: pokemonDetail }">
    <!-- <img src="{{pokemonDetail.sprites.front_default}}" alt="Front pokemon"> -->
    @defer(when pokemonDetail; prefetch on idle){
        <img ngSrc="{{pokemonDetail.sprites.front_default}}" preconnect width="70" height="70" priority alt="Front pokemon" onerror="this.src = '../../../../../assets/ditto.png'">
        <img ngSrc="{{pokemonDetail.sprites.front_shiny}}" preconnect width="70" height="70" alt="Front shiny pokemon" onerror="this.src = '../../../../../assets/ditto.png'">
    }
    @placeholder{
        <img ngSrc="https://placehold.co/70x70" width="70" height="70" priority alt="Placeholder" onerror="this.src = '../../../../../assets/ditto.png'">
        <img ngSrc="https://placehold.co/70x70" width="70" height="70" priority alt="Placeholder" onerror="this.src = '../../../../../assets/ditto.png'">
    }
    @loading{
        CARGA
    }
    <p>{{pokemon.name}}</p>
</div>
